<div id="content">
  <div id="video_container">
    <video id="video"></video>

    <div class='buttons-group'>
      <button id="take_photo" class='btn btn-danger'>拍照</button>
    </div>
  </div>

  <canvas id="canvas"></canvas>
</div>

<!-- Modal -->
<div class="modal fade" id="upload_photo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-photo" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title" id="myModalLabel">上传图片</h4>
      </div>
      <div class="modal-body">
        <img src="" alt="" id='preview'>
        <div id="qrcode"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-photo" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id='upload'>上传</button>
      </div>
    </div>
  </div>
</div>
