<div id="content">
  <div id="video_container">
    <video id="video"></video>

    <div class='buttons-group'>
      <button id="take_photo" class='btn btn-danger'>拍照</button>
      <button id="upload_photo" class='btn btn-success'>上传</button>
      <button id='cancel_photo' class='btn btn-primary'>再来一次</button>
    </div>
  </div>
</div>
