<div id="remote">
  <div class="buttons">
    <ul>
      <li>
        <button class='btn btn-danger' data-operation='take_photo'>拍照</button>
      </li>
      <li>
        <button class='btn' data-operation='close'>关闭</button>
      </li>
      <li>
        <button class='btn btn-primary' data-operation='upload'>上传</button>
      </li>
    </ul>
  </div>
</div>
